<footer class="footer .navbar-fixed-bottom container-fluid">
  <div class="footer-content">
    <ul class="list-unstyled list-inline text-center">
      <li>
        <a href="#"><i class="footer-icons fa fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-foursquare"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-linkedin-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-pinterest"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-soundcloud"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-twitch"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-vimeo-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-yelp"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-youtube-square"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-reddit"></i></a>
      </li>
      <li>
        <a href="#" id="vine"><i class="footer-icons fa fa-vine"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="footer-icons fa fa-snapchat-ghost"></i></a>
      </li>
    </ul>
  </div>
</footer>
