
/*footer section*/

.footer{
  background-color: #cfcfcf;
  height: 10%;
  position: absolute;
  width: 100%;
  margin-top: 1%
}
.footer-content{
  margin-top: 5px;
  display:flex;
  justify-content:center;
  align-items:center;
}
li .footer-icons{
  font-size: 30px;
  padding-left: 10px;
}
.foo-bar{
  z-index: 10 !important;
  /*background-image: url("src/assets/img/notes.gif");*/
}
