<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid fancy-heading">
    <a id="help-icon" [routerLink]="['help']" (click)="list.remove()"><i class="fa fa-question-circle-o"></i></a>
    <h1 class="text-center">Get Tweets</h1>
  </div>
  <div class="container">
    <search-bar (changed)= changed($event)></search-bar>
  </div>
</nav>
<!-- <h5>changed Handle: {{selectedHandle}}</h5> -->
<router-outlet></router-outlet>
<output-list *ngIf="selectedInput" [inputParams]="selectedInput">Output List</output-list>
