/*header title font*/
.fancy-heading h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 120px;
  padding-top: 20px;
  margin-bottom: 40px;
  color:#1DA1F2;
}

/*footer at bottom*/
html,body
{
  height:100%;
}

/*loading icon style*/
.loading-icon{
  margin-left: 25%;
  margin-top: 25%;
  color:#1DA1F2;
}
